{% extends 'layouts/base.html' %}
{% load movie_list %}

{% block content %}

<div class="row mt-5">
  <div class="col-lg-2">
    {% include 'includes/sidebar-filter.html' %}
  </div>
  <div class="col-lg-10">
    {% for movie_type in movie_types %}
      <h5 class="mb-3">{{ movie_type.name }}</h5>
      <div class="row">
        {% include 'includes/movie-grid.html' with movies=request|type_wise_movie:movie_type.id %}
        {% if request|type_wise_movie:movie_type.id|length > 6 %}
          <div class="mb-5">
            <a href="{% url 'type_wise_movie' movie_type.slug %}">Show more</a>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}