{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}

<div class="row mt-5">
  <div class="col-lg-2">
    {% include 'includes/sidebar-filter.html' %}
  </div>
  <div class="col-lg-10">
    
    <h5 class="mb-3">{{ movie_type.name }}</h5>
    <div class="row">
      {% for movie in movies %}
        <div class="col-lg-4 mb-4">
          <a target="_blank" href="{{ movie.movie_url }}">
            <img src="{{ movie.thumbnail.url }}" class="w-100 mb-3" alt="">
          </a>
          <h6>Name : {{ movie.name }}</h6>
          <span class="d-block">Actors : 
            {% for actor in movie.actors.all %}
              <b><a href="#">{{ actor.name }}</a>, </b>
            {% endfor %} 
          </span>
          <span class="d-block">Directors : 
            {% for director in movie.directors.all %}
              <b><a href="#">{{ director.name }}</a>, </b>
            {% endfor %} 
          </span>
          <span class="d-block">Categories : 
            {% for category in movie.categories.all %}
              <b><a href="?category={{category.id}}">{{ category.name }}</a>, </b>
            {% endfor %} 
          </span>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}