@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.profile .avatar {
  width: 150px;
  height: 150px;
  border-radius: 10%;
  object-fit: cover;
}

.movie .thumbnail {
  height: 200px;
  object-fit: cover;
}

.movie-details .thumbnail {
  height: 500px;
}