<h5>Categories</h5>
<ul>
  {% for category in categories %}
    <li class="mb-1">
      <a class="text-decoration-none" href="?category={{category.id}}">{{ category.name }}</a>
    </li>
    <ul>
      {% for subcategory in category.subcategory.all %}
        <li class="mb-1">
          <a class="text-decoration-none" href="?subcategory={{subcategory.id}}">{{ subcategory.name }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</ul>
<h5>Types</h5>
<ul>
  {% for movie_type in movie_types %}
    <li class="mb-1">
      <a class="text-decoration-none" href="{% url 'type_wise_movie' movie_type.slug %}">{{ movie_type.name }}</a>
    </li>
  {% endfor %}
</ul>